
.title {
    font-size: 100pt;
    color: #30c230;
}

.intro {
    font-weight: bold;
    font-size: 20px;
    color:white;
    p{
        width: 1000px;
        backdrop-filter: blur(30px);
        background-color: #46fa405e;
        padding: 20px;
        border-radius: 10px;
    }
}
/* Estilo para el contenedor de los botones */
.buttons-container {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
}

