html, body, #root {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita barras de desplazamiento */
    width: 100%;
    height: 100%;
    position: fixed;
    user-select: none;
}

canvas {
    display: block; /* Asegúrate de que el canvas ocupe el espacio completo */
}

/* Modal - Fondo semitransparente */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible; /* Modal visible */
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Contenido del modal */
.modal-content {
    background-color: #DFF2EB; /* Fondo azul con transparencia */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 1000px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black; /* Texto blanco */
    font-size: 18px; /* Tamaño de fuente */
    display: flex;
    flex-direction: column; /* Alinear elementos en columna */
    align-items: center; /* Centrar horizontalmente los elementos */
    text-align: justify; /* Justificar texto */
    position: relative; /* Necesario para posicionar las flechas */
}

/* Botón de cierre del modal */
.modal-content-button {
    margin-top: 10px; /* Espacio superior */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Sin bordes */
    background-color: #7AB2D3; /* Azul oscuro */
    color: black; /* Texto blanco */
    cursor: pointer; /* Cambia el cursor al pasar */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    
}

.modal-content-button:hover {
    background-color: #4A628A; /* Azul más oscuro al pasar el mouse */
}

/* Botones de flecha del modal */
.modal-arrow-button {
    background-color: #7AB2D3;
    border: #4A628A;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px;
    border-radius: 5px;
}

/* Flecha a la izquierda */
.modal-arrow-prev {
    position: absolute;
    left: 10px; /* Posiciona a la izquierda */
    top: 85%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajusta la posición para centrar */
}

/* Flecha a la derecha */
.modal-arrow-next {
    position: absolute;
    right: 10px; /* Posiciona a la derecha */
    top: 85%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajusta la posición para centrar */
}

.modal-arrow-button:hover {
    opacity: 0.7;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5 px;
}
